<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
  <script type="text/javascript" src="/static/pooqplatform/js/pooq.js"></script>
  <title>푹 (POOQ)</title>
<link href="/static/pooqplatform/css/player/vod.192ce448709e784c5f05a809783a16fa.css?dfc9f81fa14cb674f8d1" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="/static/pooqplatform/js/manifest.1b252140fed675d24942.js?dfc9f81fa14cb674f8d1"></script>
<script type="text/javascript" src="/static/pooqplatform/js/vendor.40709d0169dd6794b6c1.js?dfc9f81fa14cb674f8d1"></script>
<script type="text/javascript" src="/static/pooqplatform/js/player/vod.7056c2f2a1f0741cbeac.js?dfc9f81fa14cb674f8d1"></script>
</body>
<script>
/* eslint-disable */
var ROOT_SRC = '/static/pooqplatform/pooqplayer/';

window.fbAsyncInit = function() {
  FB.init({
    appId            : '1818575348440201',
    autoLogAppEvents : true,
    xfbml            : true,
    version          : 'v2.12'
  });
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "https://connect.facebook.net/ko_KR/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/javascript" src="/static/pooqplatform/pooqplayer/lib/lib.js"></script>
<script type="text/javascript" src="/static/pooqplatform/pooqplayer/playeradapt.js"></script>
</html>
